* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body, html {
      background-image:
    linear-gradient(135deg, #000000, #004663);
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; 
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-family: 'Aoboshi One';
}

.modal {
  background: #f2f2f2;
  padding: 40px;
  border-radius: 20px;
  width: 375px;
  text-align: center;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.3);
}

.logo {
  width: 145px;
  margin-bottom: 28px;
   
}

.modal h2 {
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 100;
}

.modal h4 {
  font-size: 9px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  font-weight: 100;
  color: gray;
  white-space: nowrap;
}

.createaccount{
  font-size: 10px;
  margin-bottom: 20px;
  letter-spacing: 1px;
  text-align: center;
}

/* Form inputs */
form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-size: 12px;
  margin: 10px 0 5px;
}

input {
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 14px;
}

/* Sign Up Button */
.signin-btn {
  background: linear-gradient(135deg, #000000, #004663);
  width: 150px;
  border: none;
  color: white;
  font-weight: bold;
  padding: 12px;
  border-radius: 25px;
  margin: 15px auto 0;
  cursor: pointer;
  transition: 0.3s ease;
  display: block;
}

.signin-btn:hover {
  background: darkblue;
}